extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="img nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a nisl at ante pellentesque accumsan in at elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. 
                p Aliquam et lacus vitae ex tincidunt tincidunt et vitae risus. Suspendisse turpis eros, blandit a dui at, porttitor scelerisque mauris.
                p Maecenas vehicula ut nulla sit amet tristique. Curabitur a dolor pretium, sagittis ligula ut, placerat enim. Aenean cursus leo blandit felis luctus, non vestibulum neque sagittis. Nunc non libero ornare, porttitor metus non, congue felis. In sed velit mi. Curabitur feugiat, justo sed viverra condimentum, sem mauris dapibus arcu, sollicitudin finibus turpis tellus quis ex. Nulla pellentesque magna id neque rutrum placerat. Ut a odio id lectus vehicula tincidunt eget et turpis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore facilis obcaecati est illum, magnam vitae eligendi excepturi autem animi aliquid aliquam impedit officiis exercitationem nemo quasi quos ab debitis quisquam.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore facilis obcaecati est illum, magnam vitae eligendi excepturi autem animi aliquid aliquam impedit officiis exercitationem nemo quasi quos ab debitis quisquam.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore facilis obcaecati est illum, magnam vitae eligendi excepturi autem animi aliquid aliquam impedit officiis exercitationem nemo quasi quos ab debitis quisquam.